<style>
	.bg {
		width: 100%;
		height: 600px;
	}
	#banner {
		background-image: url("./css/landing_pagebg.jpg");
		background-size: cover;
		background-position: center;
		position: absolute;
		z-index:0;
		left:0;
		width: 100%;
		height: 100%;
	}
	#options {
		color: white;
		position: center;
	}
</style>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="view2.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="banner">
		<center><div ng-app ng-controller="View2Ctrl as vm2">
			<div id="options">
				Choose Your Faculty:
				<select ng-model="cart.faculty" ng-options="state as state.name for state in faculty" ng-style="{'background-color':state.color}"></select>
			

			Choose Your Faculty:
			<select data-ng-model="faculty" data-ng-options="option for option in faculty" data-ng-change="getCourseOptions()"></select>

			Choose Your Course:
			<select data-ng-model="course" data-ng-options="option for option in course"></select>
			</div>
		</div></center>

		<center><a href="#" class="push_button red" ng-click="vm.addModule(vm.selected)" ng-click="vm.myPrereqCheck()">Click to proceed!</a></center>
		<p>This is the partial for view 2.</p>
	</div>
</body>