
	<link rel="stylesheet" type="text/css" href="view1/view1.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<div ng-controller="View1Ctrl">
	Module Mapping Begins!
	<!--onkeyup, is the calling of function after user releases his finger on keyboard-->
	<input type="text" ng-model="vm.search" name="modules" class="navbar-form" id="myInput" placeholder="Type your module code here"/>

	<div ng-show="vm.modules && vm.search">
		<select ng-model="vm.selected">
		<option ng-repeat="module in vm.modules | filter: vm.search | limitTo: 10" value="{{module}}">

			<li><td>{{module.moduleCode}}</td>
			<td>{{module.moduleTitle}}</td></li>
		</option>
		</select>
	</div>
	<button ng-click="vm.addModule(vm.selected)"> click here! </button>
	{{vm.Mapper}}
	<div ng-repeat="module in vm.Mapper.modules track by $index">
		{{module.moduleCode}} {{module.moduleTitle}}
		<button ng-click="vm.removeModule($index)"> remove </button>
	</div>
	</div>

